html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

li {
    list-style-type: none;
}


/* Sidebar */

.sidebar {
    background-color: #FDD835;
    height: 220%;
    width: 35%;
    flex-direction: column;
    display: flex;
}

.pp {
    display: flex;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    width: 135px;
    height: 135px;
    margin-left: 30%;
    margin-top: 3%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.sidebarTitle {
    background-color: #37474F;
    color: #FDD835;
    text-align: center;
}

.aPropos {
    margin-top: 10%;
}

.description {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
}

.loisirs {
    margin-top: 105%;
}

.listeLoisirs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 10%;
    padding-top: 5%;
}

#loisirs {
    color: #37474F;
    font-size: 200%;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 5%;
}

.trait {
    color: #FDD835;
    border-top: 2px solid;
    padding-bottom: 2%;
}

/* Titre */

.titre {
    display: flex;
    flex-direction: column;
    order: 1;
}

.titreInfo {
    display: flex;
    flex-direction: row;
    font-size: 300%;
    margin-bottom: -3%;
}

.prenom {
    margin-right: 1%;
    color: #FDD835;
}

.metier {
    font-size: 200%;
    font-weight: bolder;
}

/* formation */


.formation {
    display: flex;
    order: 2;
    flex-direction: column;
}

i {
    color: #FDD835;
    margin-right: 3%;
}

.mainTitle {
    margin-left: 4%;
    font-size: 150%;
}


.formBloc {
    display: flex;
    flex-direction: row;
    width: 100%;
}

ul.date {
    width: 20%;
}

.informations {
    width: 55%;
    margin-left: 5%;
}

/* Experiences */


.experiences {
    display: flex;
    flex-direction: column;
    order: 3;
}

i {
    color: #FDD835;
    margin-right: 3%;
}

.mainTitle {
    margin-left: 4%;
    font-size: 150%;
}

.experience1 {
    display: flex;
    flex-direction: row;
}

.experience2 {
    display: flex;
    flex-direction: row;
}

.experience3 {
    display: flex;
    flex-direction: row;
}

.experience4 {
    display: flex;
    flex-direction: row;
}

.experience5 {
    display: flex;
    flex-direction: row;
}

.experience6 {
    display: flex;
    flex-direction: row;
}

.experience7 {
    display: flex;
    flex-direction: row;
}

.experience8 {
    display: flex;
    flex-direction: row;
}

/* recommandations */


.recommandations {
    order: 4;
}

.reco {
    display: flex;
    flex-direction: row;
}

.recommandationListe1 {
    display: flex;
    flex-direction: column;
}

.recommandationListe2 {
    display: flex;
    flex-direction: column;
}

.recommandation2 {
    margin-left: 20%;
}

.perso {
    order: 5;
}

/* media query test */

@media (min-device-width: 812px) {

    .perso {
        display: none;
    }
}

@media all and (max-device-width: 850px) {

    html {
        width: 90%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 100%;
    }

    body {
        display: flex;
    }

    .titreInfo {
        width: 100%;
        font-size: 300%;
    }

    .metier {
        width: 100%;
        font-size: 150%;
    }

    .mainTitle {
        width: 100%;
        font-size: 150%;
    }

    .reco {
        font-size: 100%;
    }

    .sidebar {
        display: none;
    }

    .perso {
        background-color: #FDD835;
        width: 110%;
        display: flex;
        flex-direction: column;
        order: 5;
        text-align: center;
    }

    .pp {
        display: flex;
        justify-content: center;
        margin-left: 35%;
        -webkit-border-radius: 75px;
        -moz-border-radius: 75px;
        border-radius: 75px;
        width: 135px;
        height: 135px;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .description {
        text-align: center;
    }

    .listeLoisirs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 150%;
    }

}