html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.sidebarMobile {
    display: none;
}

.mainSite {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    font-size: 15px;
}

.sidebar {
    background-color: #FDD835;
    width: 15rem;
}

.photoProfile,
ul.contact,
.description,
.listeLoisirs {
    padding: 1rem;
}

.photoProfil {
    border-radius: 75px;
    width: 135px;
    height: 135px;
}

.photoProfile {
    display: flex;
    justify-content: center;
}

.sidebarTitle {
    background-color: #37474F;
    color: #FDD835;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

.listeLoisirs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.iconsSidebar {
    color: #37474F;
    font-size: 2rem;
}

.main {
    display: flex;
    flex-direction: column;
}

.titre {
    order: 1;
    padding: 2rem;
}

.titreInfo {
    font-size: 3rem;
}

.prenom {
    color: #FDD835;
}

.metier {
    font-size: 1.5rem;
}

.traitMetier {
    border-bottom: solid #FDD835 2px;
    width: 70px;
}

.icons {
    color: #FDD835;
    margin-right: 1rem;
}

.trait {
    border: solid #FDD835 1px;
    margin-top: 15px;
}

.formation,
.experiences,
.recommandations {
    padding: 2rem;
}

.formation {
    order: 2;
}

.devWeb,
.bacPro {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

ul.listeDetails {
    padding: 0;
    margin: 0;
    padding-top: 1rem;
}

.dates,
.datesEmplois,
.details {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.iconDot {
    color: #FDD835;
    margin-right: 1rem;
    font-size: 10px;
}

.experiences {
    order: 3;
}

.listeExperiences {
    display: flex;
    flex-direction: column;
}

.balso,
.serviTrans,
.marandaise,
.canadian,
.leclerc,
.superU,
.laPoste,
.stage {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.fonctions {
    display: flex;
    flex-direction: column;
}

.recommandations {
    order: 4;
}

.reco {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.recommandation1 {
    margin-right: 9rem;
}

@media screen and (max-device-width: 480px) {

    .main {
        max-width: 100%;
    }

    .sidebar {
        display: none;
    }

    .sidebarMobile {
        display: flex;
        order: 2;
        background-color: #FDD835;
        flex-direction: column;
        padding-top: 1rem;
        text-align: center;
        zoom: 110%;
    }

    .traitMetier {
        width: 55px;
        margin-bottom: 20px;
    }

    .formation,
    .experiences,
    .iconsSidebar,
    .detailsTitle,
    .detailsListe,
    h3,
    h4 {
        font-size: 100%;
    }

    .nom,
    .prenom {
        font-size: 30px;
    }

    .photoProfil {
        margin-bottom: 20px;
    }

    .monMetier {
        font-size: 20px;
    }

    .dates {
        width: 150px;
        font-size: 100%;
        padding-right: 30px;
    }

    .datesEmplois {
        width: 250px;
        padding-right: 20px;
        padding-top: 10px;
    }

    .bacPro {
        padding-top: 20px;
    }

    .fonctions {
        text-align: center;
        width: 200px;
        padding-top: 10px;
    }

    .trait {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .iconsSidebar {
        font-size: 30px;
    }

    .recommandation1,
    .recommandation2 {
        padding: 0;
        margin: 0;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 1024px) {

    .main {
        max-width: 100%;
    }

    .mainSite {
        padding: 0;
        margin: 0 auto;
        font-size: 20px;

    }

    .formation,
    .sidebar,
    .experiences,
    .dates,
    .prenom,
    .nom,
    .monMetier,
    .iconsSidebar,
    h3,
    h4,
    li,
    p {
        font-size: 100%;
    }

    .fonctions,
    .details {
        width: 250px;
    }

    .iconsSidebar {
        font-size: 50px;
    }

    .icons {
        font-size: 30px;
    }
}
