@media (min-width: 576px)
{
    #sidebar {
        display: none;        
    }

    #header {
        text-align: center;
        margin-left: 20%;
    }    

    /*#ligne {
        text-align: center;
    }

    #ligne2 {
        text-align: center;
    }
*/
    #servitrans {
        margin-top: 5%;
    }

    #marandaise {
        margin-top: 5%;
    }

    #leclerc {
        margin-top: 5%;
    }

    #super {
        margin-top: 5%;
    }
}